:root {
  --backgroundColor: oklch(90.06% 0 0);
  --textColor: oklch(32.11% 0 0);
  --borderColor: oklch(84.52% 0 0);
  --bgColor: oklch(100% 0 0);
  --buttonBgColor: oklch(37.44% 0.077 233.06);
  --buttonTextColor: oklch(100% 0 0);
  --hoverGlow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff,
    0 0 15px #6db4dc, 0 0 15px #6db4dc, 0 0 15px #6db4dc, 0 0 15px #6db4dc,
    0 0 15px #6db4dc;
  --primaryColor: oklch(40.12% 0.076 230.01);
  --secondaryColor: oklch(63.6% 0.131 162.58);

  --padding-inline: 1rem;
  --content-max-width: 1170px;
  --breakout-max-width: 1350px;
  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );
  .dark {
    --backgroundColor: oklch(30% 0 0);
    --textColor: oklch(100% 0 0);
    --borderColor: oklch(32.11% 0 0);
    --bgColor: oklch(16.84% 0 0);
    --buttonBgColor: oklch(77.44% 0.077 233.06);
    --hoverGlow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000,
      0 0 15px #6db4dc, 0 0 15px #6db4dc, 0 0 15px #6db4dc, 0 0 15px #6db4dc,
      0 0 15px #6db4dc;
  }
}
body,
html {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  background: var(--backgroundColor);
  color: var(--textColor);
}
.configCodeBlock {
  display: block;
  width: 90%;
  background: #272822;
  color: #fff;
  border: 2px solid #777777;
  border-radius: 5px;
  padding: 10px 10px 10px 20px;
  margin: 10px 0;
}
.codeIndent {
  margin: 0 0 0 20px;
}

h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}

a {
  color: var(--buttonBgColor);
  transition: text-shadow 0.25s ease-out;
  &:hover {
    text-decoration: underline;
    text-shadow: var(--hoverGlow);
  }
}

.section {
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-bottom: 2rem;
  background: var(--bgColor);
  overflow-x: hidden;
}
.title {
  text-decoration: underline;
}
.subTitle {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #ccc;
}
