:root {
  --backgroundColor: oklch(90.06% 0 0);
  --textColor: oklch(32.11% 0 0);
  --borderColor: oklch(84.52% 0 0);
  --bgColor: oklch(100% 0 0);
  --stripeBgColor: oklch(95% 0 0);
  --buttonBgColor: oklch(37.44% 0.077 233.06);
  --buttonTextColor: oklch(100% 0 0);
  --hoverGlow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff,
    0 0 15px #6db4dc, 0 0 15px #6db4dc, 0 0 15px #6db4dc, 0 0 15px #6db4dc,
    0 0 15px #6db4dc;
  --primaryColor: oklch(40.12% 0.076 230.01);
  --secondaryColor: oklch(63.6% 0.131 162.58);

  --toastSuccessColor: oklch(81.62% 0.148 142.5);
  --toastErrorColor: oklch(62.79% 0.146 20.65);

  --padding-inline: 1rem;
  --content-max-width: 1170px;
  --breakout-max-width: 1350px;
  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );
  --errorColor: #a00;
  --toastOpacity: 0.9;
  --mono: "MONO" 0;
  --casl: "CASL" 0.5;
  --crsv: "CRSV" 0;
  --slnt: "slnt" 0;
  --wght: "wght" 400;
  .dark {
    --backgroundColor: oklch(30% 0 0);
    --textColor: oklch(100% 0 0);
    --borderColor: oklch(32.11% 0 0);
    --bgColor: oklch(16.84% 0 0);
    --stripeBgColor: oklch(25% 0 0);
    --buttonBgColor: oklch(77.44% 0.077 233.06);
    --hoverGlow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000,
      0 0 15px #6db4dc, 0 0 15px #6db4dc, 0 0 15px #6db4dc, 0 0 15px #6db4dc,
      0 0 15px #6db4dc;
  }
}

h1,
h2 {
  --wght: "wght" 800;
  --mono: "MONO" 0;
  --casl: "CASL" 0;
  --crsv: "CRSV" 0.5;
  --slnt: "slnt" 0;
}
h3,
h4 {
  --wght: "wght" 700;
  --mono: "MONO" 0;
  --casl: "CASL" 0;
  --crsv: "CRSV" 0.5;
  --slnt: "slnt" 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
button {
  font-family: "Recursive", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: var(--mono), var(--casl), var(--crsv), var(--slnt),
    var(--wght);
}
body,
html {
  font-family: "Recursive", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0, "CASL" 0, "CRSV" 0.5, "MONO" 0;
  background: var(--backgroundColor);
  color: var(--textColor);
  min-height: 100vh;
}
.configCodeBlock {
  display: block;
  width: 90%;
  background: #272822;
  color: #fff;
  border: 2px solid #777777;
  border-radius: 5px;
  padding: 10px 10px 10px 20px;
  margin: 10px 0;
}
.codeIndent {
  margin: 0 0 0 20px;
}

h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}

a {
  color: var(--buttonBgColor);
  transition: text-shadow 0.25s ease-out;
  &:hover {
    text-decoration: underline;
    text-shadow: var(--hoverGlow);
  }
}

.section {
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-bottom: 2rem;
  background: var(--bgColor);
  overflow-x: hidden;
}
.title {
  text-decoration: underline;
}
.subTitle {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.success {
  background-color: var(--toastSuccessColor);
}
.failure {
  background-color: var(--toastErrorColor);
}
.hide {
  --toastOpacity: 0;
}

#updateModal {
  border-radius: 10px;
  background: var(--bgColor);
  padding: 1rem;
  color: var(--textColor);
  opacity: 0;
  translate: 0 -100%;
  transition: display 0.3s allow-discrete, overlay 0.3s allow-discrete,
    translate 0.3s, opacity 0.3s;
  &::backdrop {
    transition: display 0.3s allow-discrete, overlay 0.3s allow-discrete,
      translate 0.3s, opacity 0.3s;
    opacity: 0;
  }
  &[open] {
    transition: display 0.3s allow-discrete, overlay 0.3s allow-discrete,
      translate 0.3s, opacity 0.3s;
    opacity: 1;
    translate: 0 0;
    &::backdrop {
      opacity: 1;
      translate: 0 0;
      background: rgba(0, 0, 0, 0.7);
    }
  }
  @starting-style {
    &[open]::backdrop {
      opacity: 0;
    }
    &[open] {
      opacity: 0;
      translate: 0 -100%;
    }
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
input[type="text"] {
  height: 50px;
  padding: 0 10px;
  border-radius: 10px;
}

textarea {
  padding: 10px;
  border-radius: 10px;
  min-height: 140px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.small {
  font-size: 0.8rem;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  input {
    display: none;
  }
  .label {
    cursor: pointer;
    display: flex;
    align-items: center;
    &:before {
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1em;
      height: 1em;
      border: 1px solid #ccc;
      border-radius: 50px;
      margin-right: 0.5em;
      padding: 0.2em;
      transition: background-color 150ms ease-in-out;
    }
  }

  input:checked + .label:before {
    content: "\2713";
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
  }
}

.error {
  color: var(--errorColor);
  font-style: italic;
  margin: 0 0 10px;
}
